.app {
  height: 100vh;
  width: 100vw;
}
img {
  margin: 8px;
  border: 2px solid darkgrey;
}
.navbar {
  color: white;
}
.instructions {
  height: 20%;
  width: 60%;
  background-color: lightgray;
  padding: 16px;
  border: 1px solid gray;
}
.result {
  height: 80%;
  width: 60%;
  padding: 16px;
  border: 1px solid gray;
}
.showResults {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.resultImage {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.slider {
  width: 400px;
  margin: 50px;
}

.liked {
  padding: 16px;
  position: absolute;
  top: 48px;
  right: 0;
  width: 40%;
  height: 100%;
}

.liked-gifs {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
}
